# Pertemuan 2

## User input

In [1]:
name = input("Masukkan nama:")
print(type(name))

Masukkan nama: Aat

<class 'str'>

In [2]:
name = input("Masukkan nama:")
print(type(name))

Masukkan nama: 10.7

<class 'str'>

In [3]:
name = input("Masukkan nama:")
print(type(name))
print("Nama Kamu Adalah" +" "+ name)

Masukkan nama: Aat

<class 'str'>
Nama Kamu Adalah Aat

In [4]:
name = input("Masukkan nama:")
print(type(name))
print("Nama Kamu Adalah", name)

Masukkan nama: Aat

<class 'str'>
Nama Kamu Adalah Aat

## String Operation

In [8]:
a = "Hello, world"
print(a)

Hello, world

In [10]:
a = "Hello, world!"
print(a[4])

o

In [12]:
print(a[2:])

llo, world!

In [14]:
print(a[7:])

world!

In [16]:
print(a[7:5])

In [18]:
print(a[1:5])

ello

In [20]:
print(a[0:5])

Hello

In [22]:
print(a[7:13])

world!

In [24]:
print(a[-5:])

orld!

In [26]:
print(a[-6:])

world!

In [30]:
tes = "Hello"
b = a +" "+  tes
print(b)

Hello, world! Hello

In [32]:
tes = "Hello"
b = a, " " , tes
print(b)

('Hello, world!', ' ', 'Hello')

In [51]:
nama = input("Masukkan nama:")
umur = 17

text = "Nama Saya {} dan saya {} tahun".format(nama, umur) #ype penulisan pertama dengan .format
print(text)

text2 = "Nama Saya" +" "+ nama +" "+ str(umur) +" "+ "tahun" #type penulisan kedua --> dengan +" "+
print(text2)

text3 = "Nama Saya" +" "+ nama +" "+"dan Saya"+" "+ str(umur) +" "+ "tahun" #data umur kalau mau digabung dengan konsep ini harus dirubah dari integer ke string str(x)
print(text3)

text4 = "Nama Saya", nama, "dan Saya", umur , "tahun" #ini akan menunjukan type data 
print(text4) #ini akan menunjukan type data

print("Nama Saya", nama, "dan Saya", umur , "tahun")

Masukkan nama: Aat

Nama Saya Aat dan saya 17 tahun
Nama Saya Aat 17 tahun
Nama Saya Aat dan Saya 17 tahun
('Nama Saya', 'Aat', 'dan Saya', 17, 'tahun')
Nama Saya Aat dan Saya 17 tahun

## Conditional If

In [61]:
# Conditional if
#hanya data STRING yang tidak bisa digabungkan di CONDITIONAL IF

#dengan data INTEGER DAN INTEGER
a = 10
b = 11

if a>b:
    print("a lebih besar dari b")
elif a==b:
    print("a sama dengan b")
else:
    print("a lebih kecil dari b")

a lebih kecil dari b

In [58]:
print(True and True)
print(True and False)
print(True or False)
print(not True)
print(not False)

True
False
True
False
True

In [62]:
#dengan data INTEGER DAN FLOAT
a = 15.7
b = 11

if a>b:
    print("a lebih besar dari b")
elif a==b:
    print("a sama dengan b")
else:
    print("a lebih kecil dari b")

a lebih besar dari b

In [67]:
#dengan data INTEGER DAN BOOLEAN; BOOLEAN vs BOOLEAN
a = True
b = 11
c = False

if a>b:
    print("a lebih besar dari b")
elif a==b:
    print("a sama dengan b")
else:
    print("a lebih kecil dari b")
    
if b>c:
    print("b lebih besar dari c")
elif b==c:
    print("b sama dengan c")
else:
    print("b lebih kecil dari c")
    
if a>c:
    print("a lebih besar dari c")
elif a==c:
    print("a sama dengan c")
else:
    print("a lebih kecil dari c")

a lebih kecil dari b
b lebih besar dari c
a lebih besar dari c

## List

In [70]:
mylist = []
mylist.append(1)   #append berfungsi untuk menambahkan data di variable mylist
mylist.append(2)
mylist.append(3)
mylist.append(100)
print(mylist)

[1, 2, 3, 100]

In [72]:
print(len(mylist))  #ini untuk mencari tahu PANJANG DATA

4

In [75]:
print(mylist[3])   #untuk memanggil data ke 3 dari mylist (data dihitung dari 0)

100

# APPEND DAN LEN

In [79]:
mylist2 = []
mylist2.append("a")   #append berfungsi untuk MENAMBAHKAN data di variable mylist2
mylist2.append("b")
print(mylist2)   #untuk mencetak data di variable mylist2
print(mylist2[0])   #untuk mencetak daya pada urutan ke-0 di variable mylist
print(len(mylist2))  #LEN untuk menghitung jumlah data di mylist

['a', 'b']
a
2

In [94]:
#LOOPING

for r in mylist:
    print("Nilai:" + str(r))

Nilai:1
Nilai:2
Nilai:3
Nilai:100
Nilai:a
Nilai:b
Nilai:a
Nilai:b

In [88]:
for i in mylist2:
    print("Nilai:" + str(i))

Nilai:a
Nilai:b

In [87]:
for i in mylist:
    print("Nilai:", i)

Nilai: 1
Nilai: 2
Nilai: 3
Nilai: 100
Nilai: a
Nilai: b
Nilai: a
Nilai: b

In [90]:
for z in mylist2:
    print("Nilai:" + z)

Nilai:a
Nilai:b

In [91]:
nama_buah = ("apel", "jeruk", "mangga", "lemon", "salak")

print(nama_buah[0])
print(nama_buah[1])
print(nama_buah[2])
print(nama_buah[3])
print(nama_buah[4])
print(len(nama_buah))
print(nama_buah)

apel
jeruk
mangga
lemon
salak
5
('apel', 'jeruk', 'mangga', 'lemon', 'salak')

# LOOP

In [92]:
#lOOPING

for a in nama_buah:
    print(a)

apel
jeruk
mangga
lemon
salak

# While

In [95]:
#FOR WHILE
# for while adalah LOOPING dengan KONDISI TERTENTU

i = 1
while i <= 6:
    print(i)
    i += 1

1
2
3
4
5
6

In [96]:
for y in range(1,9):
    print(y)

1
2
3
4
5
6
7
8

In [97]:
for y in range(1,9):
    print(y)
    
print("Selesai")

1
2
3
4
5
6
7
8
Selesai

# ROUND

In [102]:
#ROUND
#ROUND berfungsi untuk membulatkan data FLOAT menjadi sekiand decimal

float = 3.1467
print(round(float, 2))    #membulatkan menjadi sekian decimal
print(int(float))         #mengubah data float menjadi integer

3.15
3

In [101]:
print(round(3.1467, 2))

3.15