# DICTIONARY AND FUNCTION

## Dictionary

In [2]:
# Dictionary adalah kumpulan data yang terindeks, beda dengan LIST --> LIST adalah kumpulan variable, termasuk dictionary bisa ditulis didalamnya
# penulisan menggunakan {}
# terdapa KEYS [] and VALUES, KEYS semacam header di excel

### Penulisan Dictionary

In [4]:
pelanggan = {                                 ##penulisan format DICTIONARY STYLE 1
    "nama" : "farhan",
    "umur" : "21"
}

pelanggan_2 = {"nama": "andi", "umur" : 18}    #penulisan format DICTIONARY STYLE 2

print("Nama: {}".format(pelanggan["nama"]))
print("Umur: {}".format(pelanggan["umur"]))

Nama: farhan
Umur: 21

In [5]:
print("Nama: {}".format(pelanggan_2["nama"]))
print("Umur: {}".format(pelanggan_2["umur"]))

Nama: andi
Umur: 18

In [6]:
print("Nama: {}".format(pelanggan))   #tanpa ditulis keys-nya maka akan muncul isi didalam si dictionary-nya seperti ini:

Nama: {'nama': 'farhan', 'umur': '21'}

In [7]:
print(pelanggan)

{'nama': 'farhan', 'umur': '21'}

### Mengganti nilai dalam dictionary

In [8]:
# mengubah value dalm dictinionary seperti ini:

pelanggan ["umur"] = 22    #hasilnya umur farhan jadi 22
print(pelanggan)

{'nama': 'farhan', 'umur': 22}

In [9]:
print("Nama: {}".format(pelanggan["nama"]))   #check hasil
print("Umur: {}".format(pelanggan["umur"]))

Nama: farhan
Umur: 22

In [13]:
print("Nama: {} \nUmur: {}".format(pelanggan["nama"], pelanggan["umur"]))

Nama: andi
Umur: 18

### Loop Dictionary

In [14]:
for x in pelanggan:
    print(x)
    print(pelanggan [x])
    print(pelanggan_2 [x])

nama
farhan
andi
umur
22
18

### List Dictionary

In [4]:
pelanggan = {                                 ##penulisan format DICTIONARY STYLE 1
    "nama" : "farhan",
    "umur" : "21"
}

pelanggan_2 = {"nama": "andi", "umur" : 18}    #penulisan format DICTIONARY STYLE 2

daftar_pelanggan = []     #simbol fungsi list
daftar_pelanggan.append(pelanggan)
daftar_pelanggan.append(pelanggan_2)

for pelanggan in daftar_pelanggan:
    print("Nama: {}".format(pelanggan["nama"]))
    print("Nama: {}".format(pelanggan["umur"]))

Nama: farhan
Nama: 21
Nama: andi
Nama: 18

### Menghapus Nilai didalam Dictionary

In [26]:
#CLEAR

data = {"Nama": "Zara", "Umur": 25, "Kelas":"Lima"}
data.clear()    #CLEAR berfungsi untuk menghapus semua entri didalam dictionary
print(data)

{}

In [27]:
#DELETE

data = {"Nama": "Zara", "Umur": 25, "Kelas":"Lima"}
del data ["Nama"]    #DEL berfungsi untuk menghapus sebagian isi Dictionary dengan KEYS berupa Nama
print(data)

{'Umur': 25, 'Kelas': 'Lima'}

In [28]:
data = {"Nama": "Zara", "Umur": 25, "Kelas":"Lima"}
print(data)

{'Nama': 'Zara', 'Umur': 25, 'Kelas': 'Lima'}

In [32]:
data = {"Nama": "Zara", "Umur": 25, "Kelas":"Lima"}
print("dictionary [Nama]:", data["Nama"])
print("dictionary [Kelas]:", data["Kelas"])

dictionary [Nama]: Zara
dictionary [Kelas]: Lima

## FUNCTION

In [ ]:
# hanya berjalan kalau dipanggil  --> INI function NOL ditulis function()
# ada berbagai macam function

### FUNCTION pada umumnya

In [33]:
def coba_function():
    print("Hello ini hanya coba function")    #print ini adalah parameter didalam atau bagian dari FUNCTION
    print("ini adalah function")
    print("ini percobaan pertama")
    
coba_function()    #Ini untuk memanggil si coba_function

Hello ini hanya coba function
ini adalah function
ini percobaan pertama

### FUNCTION with Parameter

In [18]:
def my_function (first_name, last_name=" "):      #=" " --> maksudnya last_name bisa dikosongkan
    print("Hello {} - {}".format(first_name, last_name))    #PRINT function STYLE-1
    
my_function("Adi", "Wijaya")
my_function("Tri", "Atmaja")
my_function("Jokowi")

Hello Adi - Wijaya
Hello Tri - Atmaja
Hello Jokowi -

In [20]:
def my_function (first_name, last_name=" "):      #=" " --> maksudnya last_name bisa dikosongkan
    print("Hello", first_name, last_name)         ## PRINT function STYLE-2 
    #print("Hello" + "  " + first_name + " " + last_name)       ### PRINT function STYLE-3 dengan 
    
my_function("Adi", "Wijaya")
my_function("Tri", "Atmaja")
my_function("Jokowi")

Hello Adi Wijaya
Hello Tri Atmaja
Hello Jokowi

In [36]:
def my_function (first_name=" ", last_name=" "):      #=" " --> maksudnya baik first_name dan last_name bisa dikosongkan
    print("Hello {} - {}".format(first_name, last_name))
    
my_function()

Hello   -

### FUNCTION KEYWORD PARAMETER

In [40]:
def my_function2 (anak_ke3, anak_ke2, anak_ke1):
    print("Anak yang paling kecil adalah", anak_ke3)
    
my_function2 (anak_ke1 = "Adi", anak_ke2 = "Budi", anak_ke3 = "Lusi")    #my function disertai PARAMETER
my_function2 ("Adi", "Budi", "Lusi")    #TANPA parameter

Anak yang paling kecil adalah Lusi
Anak yang paling kecil adalah Adi

### Contoh gabungan LIST dan FUNCTION

In [42]:
nama_buah = []

def tambah_nama_buah (nama):
    nama_buah.append(nama)
    print_nama_buah()
    
def print_nama_buah():
    for buah in nama_buah:
        print(buah)
    print("---------")
        
tambah_nama_buah("Jeruk")
tambah_nama_buah("Apel")
tambah_nama_buah("Melon")
tambah_nama_buah("Pisang")

Jeruk
---------
Jeruk
Apel
---------
Jeruk
Apel
Melon
---------
Jeruk
Apel
Melon
Pisang
---------

## RETURN

In [43]:
def total(x,y):
    total = x + y
    return total

total (5,2)

7

In [26]:
def my_function(x):
    return 5 * x

print(my_function(3))   #bisa dengan fungsi print(my_function(3)) atau hanya my_function(3)

15

In [44]:
def total(x,y):
    total = x + y
    return 10

total (5,2)   #yang terbaca 10-nya

10

In [46]:
def total(x,y):
    total = x + y
    return total

def total_buah_sisa():
    return 20

jumlah = total (5,2)
print(jumlah)

7

In [49]:
def total(x,y):
    total = x + y
    return total

def total_buah_sisa():
    return 20

jumlah = total (5,2)
print(jumlah)

total_buah = len(nama_buah) + total_buah_sisa()    #karena buah diatas ada 4 Jeruk, Apel, Melon dan Pisang ditambah 20 jadi 24
print(total_buah)

7
24

## CONTOH LATIHAN

In [50]:
def luas_persegi(sisi):
    luas = sisi*sisi
    return luas

def volume(sisi):
    volume = luas_persegi(sisi)*sisi
    return volume

luas_persegi(2)

4

In [52]:
def luas_persegi(sisi):
    luas = sisi*sisi
    return luas

def volume(sisi):
    volume = luas_persegi(sisi)*sisi
    return volume

luas_persegi(2)    #tidak terbaca karena luas persegi dicode ini ditulis sebagai bagian dari volume
volume(3)

27

In [54]:
def luas_persegi(sisi):
    luas = sisi*sisi
    return luas

def volume(sisi):
    volume = sisi*sisi*sisi
    return volume

luas_persegi(2)

4